:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chess-board-container {
  width: 50%;
  height: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.empty-square2 div:nth-child(even),
.empty-square1 div:nth-child(odd),
.white-row1 div:nth-child(odd),
.white-row2 div:nth-child(even),
.black-row1 div:nth-child(even),
.black-row2 div:nth-child(odd) {
  background-color: rgb(255, 92, 92);
}

.empty-square2 div:nth-child(odd),
.empty-square1 div:nth-child(even),
.white-row1 div:nth-child(even),
.white-row2 div:nth-child(odd),
.black-row1 div:nth-child(odd),
.black-row2 div:nth-child(even) {
  background-color: rgb(173, 173, 173);
}

.square {
  width: 110px;
  height: 110px;
  border: 1px solid green;
  font-size: 9rem;
  text-align: center;
  color: white;
}
